/*====================
=======Structure======
======================*/

h3, h4, h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* z-index: 1001; */
}

main{
    margin: 0 auto;
    position: relative;
    /* top: 30vh; ???*/
    width: 80%;
    padding: 0% 10%;
    background-color: #DAE0E6;
    z-index: 1000;
}

.only-desktop{
    display: block;
}

.only-mobile{
    display: none;
}




/*====================
========Columns=======
======================*/

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    display: flex;
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}



img {
    max-width: 100%;
}

/* ========header==========
===========================
=========================== */

.top-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #fff;
    
}

.top-menu-logo{
    display: flex;
    justify-content: center;
    width: 10%;
    height: 100%;
    padding-left: 3%;
}

.top-menu-search-icon{
    position: absolute;
    width: 2%;
    height: 2rem;
    top:1vh;
    left: 20vh;
}

.top-menu-box{
    width: 50%;
    padding-left: 3%;
} 

.top-menu-box input{
    width: 100%;
}

.top-menu-icon{
    padding: 0% 1.5%;
}
    
.top-menu-icon svg{
    width: 1.5rem;
    height: 1.5rem;
}

.top-menu-user-icon{
    width: 1rem;
    height: 1rem;
}

.top-menu-arrow-icon{
    width: 1rem;
    height: 1rem;
}

.top-menu-arrow-icon svg{
    width: 1rem;
    height: 1rem;
}

.trend-title{
    margin: 1.5% 0%;
}

.trend-image img{
    width: 95%;
    height:10rem;
    border-radius: 8px;
}

.trend-box-texts{
    position: absolute;
    top: 4%;
    color: #fff;
}

.trend-box-text h5{
    width: 60%;
}

.trend-box-user{
    display: flex;
}

.trend-box-user-img img{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.publications-box{
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
}


.publications-box-buttons button{
    display: flex;
    border: none;
    border-radius: 50px;
    padding: 0.3rem;
}

.publications-box-buttons button svg{
    width: 1.5rem;
}

.publications-box-buttons button span{
    padding-top: 0.2rem;
}

.publication-post{
    background-color: #fff;
    margin-top: 3%;
    display: flex;
    box-shadow: 0px 0px 5px #000;
}

.publication-post-content-like svg{
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 30%;
}

.publication-post-content-data{
    display: flex;
}

.publication-post-content-data-img{
    width: 4.5%;
    padding-left: 2%;
}

.publication-post-content-data-img img{
    border-radius: 50%;
}

.publication-post-content-data-name{
    padding: 0% 1.5%;
}

.publication-post-content-data-achievements{
    display: flex;
    width: 10%;
    padding: 0% 1.5%;
}

.publication-post-content-data-button{
    padding-left: 15%;
}

.publication-post-text{
    padding-left: 2%;
}

.publication-post-line-buttons{
    display: flex;
    padding-top: 3%;
}

.publication-post-line-buttons button {
    border: none;
    background: transparent;
    
}

.publication-post-line-buttons button svg{
    width: 1rem;  
}

.popular{
    background-color: rgb(12, 12, 12);
    border-radius: 2%;
}

.popular-header-title{
    text-align: center;
    padding-top: 20%;
    margin-bottom: 5%;
    color: #fff;
    font-size: 0.7rem;
}

.popular-user{
    display: flex;
    background-color: #fff;
    padding-top: 5%;
    border-bottom:solid 0.1rem #DAE0E6;
}

.popular-user-icon{
    width: 6%;
    color: #46D160;
}


.popular-user-img{
    width: 10%;
    padding-left: 2%;
}

.popular-user-img img{
    border-radius: 50%;
}

.popular-user-range{
    padding:0% 5%;
}

.popular-user-button button{
    color: #fff;
    border:none;
    border-radius: 30px;
    background-color: #0079D3;
    padding: 8% 25%;
    font-weight: bolder;
}

.popular-user-name{
    padding: 0% 5.5%;
    font-size: 0.8rem;
}

.popular-button{
    text-align: center;
    background-color: #fff;
}

.popular-button button{
    border: none;
    background-color:#0079D3;
    font-weight: bolder;
    font-size: 1rem;
    color: #DAE0E6;
    padding: 2% 35%;
    border-radius: 50px;
}

.popular-lista{
    background-color: #fff;
    padding-top: 4%;
}

.popular-lista ul li{
    display: inline;
    padding: 0% 2%;
    color: #0079D3;
    font-weight:bolder;
    font-size: 0.8rem;
}

.premium{
    margin-top: 5%;
    display: flex;
    background-color: #fff;
}

.premium-logo{
    padding-top: 5.3%;
    width: 3rem;
    color: #FF4500;
}

.premium-button{
    margin-right: 8%;
}

.premium-content{
    padding: 3% 2%;
}

.premium-button button{
    border: none;
    background-color: #FF4500;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 0% 25%;
}

.categorys{
    background-color: #fff;
    margin-top: 5%;
}

.category{
    display: flex;
    justify-content: space-between;
    padding: 5.5% 4% 0% 4%;
    border-bottom: solid 0.1rem #DAE0E6;
}

.category-title{
    font-size: 0.7rem;
}

.category-icon svg{
    width: 1.5rem;
    height: 1.5rem;
}

.politics{
    margin-top: 3%;
    background-color: #fff;
    margin-bottom: 15%;
}

.politic-helps{
    display: flex;
}

.politic-help-copy{
    font-size: 0.7rem;
    text-align: center;
}





@media (max-width:479px) {   

}